<ion-view view-title="Ανεμογεννήτριες">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="wg in wgs" type="item-text-wrap" href="#/tab/chats/{{wg.id}}">
        <img ng-src="{{wg.face}}">
        <h2><span ng-if=wg.status=='Running' ng-style={color:'green'}>{{wg.name}} - {{wg.status}}</span></h2>
		<h2><span ng-if=wg.status=='Pause' ng-style={color:'red'}>{{wg.name}} - {{wg.status}}</span></h2>
        <p>{{wg.kw}} KW - {{wg.v}} V</p>
		<i class="icon ion-chevron-right icon-accessory"></i>
        

        <ion-option-button class="button-assertive" ng-click="remove(wg)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
